<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/product-styles.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
   
<body>
    <header>
        <nav>
            <ul style="display: flex; list-style-type: none; padding: 0; align-items: center;">
                <li><img src="../../media/logo.png" class="logo"/></li>
                <li style="margin-right: 40px;"><h1>Fetch & Find</h1></li>
                <form method="get" style="display: flex;" id="filterForm">
                    <input id="search-bar" type="text" name="search" placeholder="Search..." value="{{ request.GET.search }}" />
                    <select id="filter-dropdown" name="filter" onchange="document.getElementById('filterForm').submit();">
                        <option value="" >Filter results</option>
                        <option value="price-high" {% if request.GET.filter == 'price-high' %}selected{% endif %}>Price: high to low</option>
                        <option value="price-low" {% if request.GET.filter == 'price-low' %}selected{% endif %}>Price: low to high</option>
                    </select>
                </form>
                <li style="margin-left: 40px; margin-right: 40px;"><a href="{% url 'home' %}">Home</a></li>
                <li style="margin-right: 40px;"><a href="{% url 'login' %}">Login</a></li>
                <li style="margin-right: 40px;"><a href="/admin" target="_blank">Admin Login</a></li>
                <li style="margin-right: 40px;"><a href="{% url 'cart' %}">Cart</a></li>
                <!-- Adding this to the navigation bar currently messes up the
                 page's alignment. But the page is accessible through /user-orders/
                <li style="margin-right: 40px;"><a href="{% url 'store:user_orders' %}">Orders</a></li>
                -->
            </ul>
        </nav>
    </header>
    <div id="sort-bar">
        <button class="filter-button" onclick="window.location.href='{% url 'store:user_orders' %}'">Orders</button>
        <button class="filter-button" id="home-button">home</button>
        <button class="filter-button" id="dogs-button">dogs</button>
        <button class="filter-button" id="cats-button">cats</button>
        <button class="filter-button" id="food-button">food</button>
        <button class="filter-button" id="toys-button">toys</button>
        <button class="filter-button" id="supplied-button">supplies</button>
    </div>
    <div class="product-container">
    {% for product in products %}
        <div class="product">
            <a href="{% url 'store:product_detail' product.id %}" class="product-link" style="text-decoration: none; color: inherit;">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" />
            {% else %}
                <p>No image available</p>
            {% endif %}
            <h2>{{ product.name }}</h2>
            <p>${{ product.price }}</p>
            <form method="post" action="{% url 'add_to_cart' product_id=product.id %}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <div class="product-buttons">
                    <button class="add-to-cart-button" type="submit">Add to Cart</button>
                    <button class="favorite-button" type="submit" title="Add to Favorites"><img src="../media/favorite-icon.png" class="favorite-icon" alt="Favorite Icon"></img></button>
                </div>
            </form>
        </div>
    {% endfor %}
    </div>
</body>

</html>
